.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-insert {
    background-color: var(--primaryYellow);
    color: white;
    margin-bottom: 16px;
}

.btn-insert:hover {
   background-color: rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 22px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: var(--primaryYellow);
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn-edit, .btn-delete {
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-edit {
    background-color: #28a745;
    color: white;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
}

.btn-edit:hover, .btn-delete:hover {
    background-color: rgba(0, 0, 0, 0.1);
}