.paymentInfo {
    width: 100%;
    max-width: 800px; /* Defina a largura máxima da div */
    margin: 20px auto; /* Centraliza horizontalmente */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
  }
  
  .paymentInfo p {
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    font-size: 22px;
  }
  
  .paymentInfo p:last-child {
    border-bottom: none; /* Remove a borda inferior da última linha */
  }
  
  .paymentInfo span {
    font-weight: bold;
  }
  
  .paymentInfo .status {
    color: #e74c3c; /* Cor vermelha para indicar status de não quitado */
    text-transform: uppercase;
  }

.paymentContainer {
    width: 100%;
    max-width: 800px;
    /* Defina a largura máxima da tabela */
    margin: 0 auto;
    /* Centraliza horizontalmente */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 5vh;
    margin-bottom: 10vh;

}

.modern-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 22px;
}

.modern-table th,
.modern-table td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.modern-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.modern-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.modern-table tbody tr:hover {
    background-color: #e9e9e9;
}